.footer{
	background-color: #F8F8F8;
	border-top: 1px solid #F8F8F8;
	padding: 20px 0;
	.container{
		padding: 0 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__btn{
		color: #fff;
		font-size: 29px;
		padding: 21px 50px;
		background-color: #EC0002;
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12)
	}
	&__summ{
		display: flex;
		align-items: center;
		span{
			font-size: 35px;
			margin-left: 50px;
		}
	}
}

@media (max-width: 1680px){
	.footer{
		&__btn{
			font-size: 25px;
		}
		&__summ{
			span{
				font-size: 30px;
			}
		}
	}
}

@media (max-width: 1366px){
	.footer{
		&__btn{
			font-size: 22px;
		}
		&__summ{
			font-size: 20px;
			span{
				font-size: 25px;
			}
		}
	}
}

@media (max-width: 900px){
	.footer{
		.container{
			flex-direction: column;
		}
		&__summ{
			font-size: 14px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 300px;
			margin-bottom: 15px;
		}
		&__btn{
			font-size: 17px;
			width: 300px;
			padding: 16px 20px;
		}
	}
}