.container{
	max-width: 1740px;
	margin: 0 auto;
}

.wrapper{
	display: flex;
	flex-direction: column;
}

.title{
	font-family: 'PTRootUIWebBold';
}

.change-btn{
	color: #065CC2;
	cursor: pointer;
}

.main{
	flex-grow: 1;
}

.main-title{
	font-size: 35px;
	margin: 50px 50px 20px;
}

@media (max-width: 900px){
	.main-title{
		font-size: 27px;
		text-align: center;
		margin: 50px 0 20px;
		display: flex;
		justify-content: center;
	}
}